.blurbg p{
	font-size: 18px;
	margin: 20px;
}

#imagediv{
	margin-left: auto;
	margin-right: auto;
	width: 62%;
	

}

img{
	margin: 20px;
}

#contactus{
	margin-bottom: 200px;

}

@media (max-width: 472px){
	#imagediv{
		width: 90%;
	}
	img{
		
		margin: 0px;
		width: 100;
		height: 200;	
	}
}

